[submodule "/Users/lakshbhambhani/Documents/GitHub/2022-Robot/2022-Robot/src/main/java/frc/team670/mustanglibc"]
	path = 2022-Robot/src/main/java/frc/team670/mustanglib
	url = https://github.com/HHS-Team670/MustangLib.git
